<div>
    <h2>Tic-tac-toe</h2>
    
    <!-- Home Screen -->
    <div class="main" *ngIf="showStart">
      <a href="#" 
         class="button"
         (click)="startGame">
         Start
      </a>
    </div><!-- end of home screen -->
  
    <!-- board -->
    <div *ngIf="showBoard">
      <ul>
        <li class="kz-border-bottom kz-border-right"></li>
        <li class="kz-border-bottom kz-border-right"></li>
        <li class="kz-border-bottom"></li>
        <li class="kz-border-bottom kz-border-right"></li>
        <li class="kz-border-bottom kz-border-right"></li>
        <li class="kz-border-bottom"></li>
        <li class="kz-border-right"></li>
        <li class="kz-border-right"></li>
        <li></li>
      </ul>
    </div><!-- end of board --> 
  
    <!-- end screen -->
    <div *ngIf="showEnd">
      <span>
      <p>YOU WON!!!</p>
      <p>YOU LOST...</p>
      <p>DRAW...</p>
      <br />
      <a href="#" 
           class="botao">
           Play Again
        </a>
      </span>
    </div><!-- end of end screem -->
    <div class="restart" *ngIf="showBoard">
        <a href="#" (click)="startGame">Restart</a>
    </div>
  
  </div>
  