<div>
    <h2>Tic-tac-toe</h2>
    
    <!-- Home Screen -->
    <div class="main">
      <a href="#" 
         class="button">
         Start
      </a>
    </div><!-- end of home screen -->
  
    <!-- board -->
    <div>
      <ul>
        <li class="kz-border-bottom kz-border-right"></li>
        <li class="kz-border-bottom kz-border-right"></li>
        <li class="kz-border-bottom"></li>
        <li class="kz-border-bottom kz-border-right"></li>
        <li class="kz-border-bottom kz-border-right"></li>
        <li class="kz-border-bottom"></li>
        <li class="kz-border-right"></li>
        <li class="kz-border-right"></li>
        <li></li>
      </ul>
    </div><!-- end of board --> 
  
    <!-- end screen -->
    <div>
      <span>
      <p>YOU WON!!!</p>
      <p>YOU LOST...</p>
      <p>DRAW...</p>
      <br />
      <a href="#" 
           class="botao">
           Play Again
        </a>
      </span>
    </div><!-- end of end screem -->
  
  </div>
  